
<div class="p-5 mt-5 bg-light shadow">
  <div class="row mb-4">
    <div class="col-md-8 mb-3">
      <h3 class="mb-3">Apo_Tweetについて</h3>
      <p class="read">Apo_Tweet（アポツイート）は、アポサイバーが運営する、投稿サイトです。アポはアメリカンショートヘアーという種類の猫です。このアポがサイバー事業に投資したベンチャービジネスがアポサイバーなのです。空間を自由に行き来し、2030年の近未来から、人間の頭脳を遥かに超えた存在として、この2021年に現れました。</p>
      <p class="read">最高に楽しい時間と空間を楽しんでください。夢みがちなあなたにきっと満足いただける投稿サイトに仕上がっています。これからの自由な時間をゆっくりとお過ごしください。</p>
      <div class="pt-5">
        <h3><span class="badge bg-secondary">wonder land</span>
        <span class="badge bg-secondary">never land</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag '/apo.jpg', class:"img-fluid", alt:"Apoの写真" %>
    </div>
</div>
